/*
 * added by dforrer
 * disables text selection
 */
#viewer {
    user-select: none;
   -o-user-select:none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.textLayer > span:hover {
    border: 1px solid black;
    z-index: 1;
}

/*
* edited by dforrer
*/
#outerContainer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 430px;
}

/*
* added by dforrer
*/
#extractorContainer {
    /* overflow: hidden; */
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0px;
    width: 430px; /* Here, and elsewhere below, keep the constant value for compatibility
    with older browsers that lack support for CSS variables. */
    background: linear-gradient(
        to bottom,
        #639EDB,
        #0668CF
        ) no-repeat;
    font-family: 'Arimo', sans-serif;
    background-size: 100%;
    /* display: flex;
    justify-content: top;
    flex-direction: column;
    align-items: center; */
}
.register,
.register:before,
.register:after {
    box-sizing: border-box;
    outline: none;
}

.register {
    margin-left: 15px;
    margin-top: 21px;
    /* display: flex; */
    justify-content: left;
    align-items: center;
}

.field {
    width: 385px;
    height: 55px;
    position: relative;
}
.field input {
    width: 100%;
    border-radius: 2px;
    height: 55px;
    border: 0;
    padding: 10px;
    padding: 20px 0 0 16px;
    font-size: 22px;
    background: #1566BB;
    color: #ffffff;
    position: absolute;
}
.field label {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    transform: translate(16px, 9px);
    font-size: 18px;
    z-index: 1;
    text-transform: capitalize;
}

#pdf_drop_area {
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: 400px;
    height: 120px;
    background-color: #eee;
    border-radius: 2px;
    text-align: center;
    line-height: 120px;
    font-family: 'Arimo', sans-serif;
    background-size: 100%;
    font-size: 23px;
    color: #888;
    display: inline-block;
}

a.button6 {
    display:inline-block;
    padding:0.7em 0.5em;
    margin:0 0.3em 0.3em 0;
    border-radius:2px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    background-color:#f14e4e;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.2);
    text-align:center;
    position:absolute;
    bottom: 140px;
    margin-left: 15px;
    width: 100px;
    height: 50px;
    line-height: 30px;
    font-size: 16px;
}
a.button6:active {
    bottom: 138px;
    box-shadow:inset 0 0 0 -0.35em rgba(0,0,0,0.17);
}
@media all and (max-width:30em) {
    a.button6 a.button7 a.button8 {
        display:block;
        margin:0.4em auto;
    }
}
/* nextPDF button */
a.button7 {
    width: 170px;
    margin-left: 130px;
    background-color: #f5f5f5;
    color: black;
}
a.button7:active {
    bottom: 138px;
    box-shadow:inset 0 0 0 -0.35em rgba(0,0,0,0.17);
}

/* deletePDF button */
a.button8 {
    margin-left: 315px;
    width: 100px;
    background-color: #f5f5f5;
    color: black;
}
a.button8:active {
    bottom: 138px;
    box-shadow:inset 0 0 0 -0.35em rgba(0,0,0,0.17);
}
